.header
  .header-info
    .header-info__group-name
      = @group.name
    .header-info__member-name
      -@group.users.each do |user|
        =user.name + " "
  .edit
    .edit__button
      = link_to edit_group_path(@group) do
        = submit_tag 'edit', class: 'editt'

