.message{"data-message-id": message.id }
  .message__user-name
    = message.user.name
  .message__date
    = message.created_at
  .message__content
    = message.body
  .message__content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?